.App {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

h2 {
  color: #af6e3c;
}

.MuiCard-root {
  background-color: #fafafa;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.MuiButton-root {
  margin-top: 10px;
}
